@import url('https://fonts.googleapis.com/css?family=Raleway|Trirong');

@fontFamilyRaleway:         "Raleway";
@fontFamilyTrirong:             "Trirong";


@fontFamilyHeadings:  @fontFamilyRaleway, @fontFamilyCambria;
@fontFamilyBody:      @fontFamilyTrirong, @fontFamilyCalibri;
@fontFamilyCode:      @fontFamilyCourier;
body {
    .font();
    .typographyHeadings();
    .typographyTextElements();
    .typographyCodeElements();
    .typographyListElements();
    .typographyTableElements();
    .typographyOtherElements();
    pre code {
        line-height: inherit;
        font-size: 1em;
        margin-top: @magicNumber;
        margin-bottom: @magicNumber;
    }
}

article {
    table {
        tr {
            th,
            td {
                padding: 1.375em;
            }
        }
    }
}
