@import url('https://fonts.googleapis.com/css?family=Raleway|Trirong');

@fontFamilyRaleway:         "Raleway";
@fontFamilyTrirong:             "Trirong";


@fontFamilyHeadings:  @fontFamilyRaleway, @fontFamilyCambria;
@fontFamilyBody:      @fontFamilyTrirong, @fontFamilyCalibri;
@fontFamilyCode:      @fontFamilyCourier;
