/**
* Anax Flat theme. Contrast
*/
@import url(base.less);
@maxWidth: 960px;
@bodyBgColor: #000;
@headerBgColor: #000;
@headerLogoText: #eee;
@fontColor: #fff;
@linkColor: #fff;
@visitedLinkColor: #fff;
@wrap-allBgColor: #000;
@backgroundBreadcrumb: #000;
@breadcrumbLinkColor: #fff;
@backgroundByline: #000;
@footerFontColor: #000;
@footerBgColor: #fff;
@footerLinkColor: #000;
@slideNavLinkColor: #000;
@slideNavBgColor: #fff;
@navbarItemColor: #FFF;
@navbarItemBgColor: #000;
@navbarItemHoverColor: #000;
@navbarItemHoverBgColor: #fff;
@maxButtonFontSize: 2em;
@maxButtonColor: #f3f3f3;

body code {
    background-color: #666;
}

body pre code {
    line-height: inherit;
    font-size: 1em;
    margin-top: @magicNumber;
    margin-bottom: @magicNumber;
}

/** --------------------------------------------------------------
 *  Wrapper
 */
.inner-wrap-header {
    border-bottom: 2px dashed #fff;
}

.inner-wrap-main a,
.inner-wrap-main a:visited {
    text-decoration: underline;
}

.wrap-all {
    border: 2px solid #999;
}

.route-typography .outer-wrap-main {
    background-image: url("../img/grid/horisontal-grid-22-white.png");
}

/** --------------------------------------------------------------
 *  Navigation
 */
 .navbar2 {
     float: right;
 }

.fa,
.rm-max .rm-small .rm-button.rm-clicked {
    color: #FF4166;
}
