/**
* Anax Flat theme.
*/
@import url(base.less);
@import url('https://fonts.googleapis.com/css?family=Raleway|Trirong');

@fontFamilyRaleway:         "Raleway";
@fontFamilyTrirong:         "Trirong";
@fontFamilyHeadings:  @fontFamilyRaleway, @fontFamilyCambria;
@fontFamilyBody:      @fontFamilyTrirong, @fontFamilyCalibri;
@fontFamilyCode:      @fontFamilyCourier;

@maxWidth: 960px;
@bodyBgColor: #fff;
@headerBgColor: #777;
@headerLogoText: #eee;
@fontColor: #222;
@linkColor: #222;
@visitedLinkColor: #555;
@mainBgColor: none;
@wrap-allBgColor: #fff;
@flashHeight: 450px;
@backgroundBreadcrumb: none;
@breadcrumbLinkColor: #222;
@backgroundByline: #c3c3c3;
@footerFontColor: #eee;
@footerBgColor: #333;
@footerLinkColor: #fff;

@slideNavLinkColor: #E3FFD6;
@slideNavBgColor: #333;
@navbarDesktopFontSize: 0.95em;
@navbarItemColor: #eee;
@navbarItemBgColor: #777;
@navbarItemHoverColor: #eee;
@navbarItemHoverBgColor: #999;
@maxButtonFontSize: 2em;
@maxButtonColor: #fff;


body a {
    text-decoration: underline;
}

.fa,
.rm-max .rm-small .rm-button.rm-clicked {
    color: #BCFF9C;
}

/** --------------------------------------------------------------
 *  Header
 */
 .site-header {
     height: auto;
 }
@media only screen and (min-width: @maxWidth) {
    .site-header {
        height: 52px;
    }
}
/** --------------------------------------------------------------
 *  Navigation
 */

 .navbar2 {
     float: right;
 }

/** --------------------------------------------------------------
 *  Wrapper
 */
.wrap-all {
    // box-shadow: 0px 0px 6px #333;
}

.outer-wrap-header {
    background-color: #777;
}

.outer-wrap-after-main {
    background-color: #c3c3c3;
}



.outer-wrap-footer {
    background-color: #333;
}

.inner-wrap-flash {
    width: 100%;
    max-width: 100%;
}

.google-iframe {
    iframe {
        width: 100%;
    }
}
